{
  "extends": [
    "react-app",
    "prettier"
  ],
  "plugins": [
    "react-hooks",
    "prettier"
  ],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "prettier/prettier": "error",
    "jsx-quotes": ["error", "prefer-single"],
    "quotes": ["error", "single"]
  }
}