.Navigation
  margin-top: 15px
  display: flex
  justify-content: center

  ul li
    display: inline-block
        
    a
      text-decoration: none
      text-transform: uppercase
      color: #ffffff
      font-size: 14px
      font-weight: 700
      margin: 15px
      padding: 10px 20px
      border-radius: 2px 
      background-color: rgba(56, 116, 221, 0.86)

      &:hover
        background-color: rgba(86, 130, 250, 0.86)